In [108]:
 # Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time
import pandas as pd

In [74]:
# !which chromedriver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [75]:
url ="https://mars.nasa.gov/news/"
browser.visit(url)

In [76]:
browser.is_element_present_by_css("ul.item_list li.slide", wait_time = 1)

True

In [79]:
html = browser.html
news_soup = bs(html, 'html.parser')
side_element = news_soup.select_one("ul.item_list li.slide")

In [80]:
news_title = side_element.find("div", class_="content_title").get_text()
news_title

"NASA's Perseverance Rover Will Peer Beneath Mars' Surface "

In [82]:
news_p = side_element.find('div', class_="article_teaser_body").get_text()
news_p

"The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life. "

In [100]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [101]:
browser.links.find_by_partial_text('FULL').click()

In [102]:
time.sleep(1)
browser.links.find_by_partial_text('more info').click()

In [103]:
html = browser.html
soup = bs(html, 'html.parser')

In [104]:
image = soup.select_one('figure.lede a img').get("src")
image

'/spaceimages/images/largesize/PIA14106_hires.jpg'

In [105]:
core_url = "https://www.jpl.nasa.gov"
final_image = core_url + image
final_image

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14106_hires.jpg'

In [106]:
url3 = "https://space-facts.com/mars/"

In [110]:
mars_table = pd.read_html(url3)
mars_table = mars_table[0]
mars_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [111]:
mars_table.columns=["Description", "Mars"]
mars_table.set_index("Description", inplace = True)
mars_table

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [113]:
mars_table.to_html('mars_fact_table.html')

In [114]:
url4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [115]:
browser.visit(url4)

In [116]:
html_hemisphere = browser.html
soup_hemisphere = bs(html_hemisphere,'html.parser')

In [119]:
hemispheres = soup_hemisphere.find_all('div', class_='item')

all_hemis_list = []
main_url = "https://astrogeology.usgs.gov"
for x in hemispheres:
    #get title
    title = x.find('h3').text
    
    #Store a link that leads to the full image
    temp_img = x.find('a', class_ = 'itemLink product-item')['href']
    
    browser.visit(main_url + temp_img)
    
    temp_img_html = browser.html
    soup_each_hemis = bs(temp_img_html, "html.parser")
    
    #scrap full image source
    full_img_url = main_url + soup_each_hemis.find('img', class_="wide-image")['src']
    
    #append to the list
    all_hemis_list.append({"title": title, "img_url": full_img_url})

    
    
#Display resulted list
all_hemis_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]